
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.division{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

input{
  margin: 2rem auto;
}

#text2{
  text-transform: capitalize;
  color: #1ab785;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: 600;
}

#text2:hover{
  border: 1px solid #222;
}